<!doctype html>

<html>
  <head>
    <title>Project</title>
    <script src="bundle.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
